@import '@kyndryl-design-system/shidoka-foundation/css/root.css';
@import '@kyndryl-design-system/shidoka-applications/common/css/root.css';

main {
  margin-top: -112px;
  padding-top: 112px;
  padding-bottom: 0px;
  height: unset;
}

.footer {
  width: 100vw;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
}