.outer-login {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/images/bg1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-login {
  height: 100%;
  display: table-row;
}

.midle-login {
  display: table-cell;
  vertical-align: middle;
}

.loginbox-login {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  max-width: 440px;
  width: calc(100% - 40px);
  padding: 44px;
  margin-bottom: 28px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  min-width: 320px;
  min-height: 338px;
  overflow: hidden
}

.logo-login {
  max-height: 90px;
  max-width: 100px;
}